

.ui.form{
    margin-top: 50px;
}

.spacer25{
    width: 100%;
    height: 25px;
}

.step-buttons{
    position: relative;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
}
h2{
    text-align: center;
}

  span.cls_002 {
    font-family: Arial, serif;
    font-size: 19.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
  }

  div.cls_002 {
    font-family: Arial, serif;
    font-size: 19.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
  }

  span.cls_003 {
    font-family: Arial, serif;
    font-size: 12.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
  }

  div.cls_003 {
    font-family: Arial, serif;
    font-size: 12.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
  }

  span.cls_006 {
    font-family: Arial, serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    // text-decoration: underline
  }

  div.cls_006 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
  }

  span.cls_007 {
    font-family: Arial, serif;
    font-size: 14px;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    // text-decoration: underline
  }

  div.cls_007 {
    font-family: Arial, serif;
    font-size: 12.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
  }

  span.cls_004 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
  }

  div.cls_004 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
  }

.document{
    width: 100vw;
    height:100vh;
}


